{% extends "master.html" %}

{% block header %}
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<script type= "text/javascript" src="https://www.google.com/jsapi"></script>

	<script	type= "text/javascript">
	google.load("visualization","1",{packages:["corechart"]});
	google.setOnLoadCallback(drawChart);
	function datoss(){
		
		{%for recono in empresas%}
            	alert(recono.nombre);
            {% endfor %}
	}

	function drawChart(){
		var datos = new google.visualization.DataTable();
            datos.addColumn('string', 'Empresas');
            datos.addColumn('number', 'Reconocimientoss');
            {%for recono in resultado%}
            	datos.addRows([
            		['{{recono.id_empresa}}',{{recono.dcount}}]
            		]);            	
            {% endfor %}
        var options= {
			title: "Reconocimientos por Empresas"
		};
		alert(recono)
		var chart= new google.visualization.PieChart(document.getElementById('piechart'));
		chart.draw(datos,options);
		alert(resultado);
		
	}


	</script>
{% endblock %}

{% block content %}
<h2>Cuadros Estadísticos con Google Chart</h2>
	{%for i in resultados%}
            <tr>
            <td>{{i.id_empresa}}</td>
            <td>{{i.dcount}}</td>
            
            </tr>
{%endfor%}
<section id= "piechart"></section>
<section></section>

{% endblock %}
